<style>
    @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
/*styling star rating*/
.rating{
	border: none;
	float: left;
}

.rating > input{
	display: none;
}

.rating > label:before{
	content: '\f005';
	font-family: FontAwesome;
	margin-right: 10px;
	font-size: 1rem;
	display: inline-block;
	cursor: pointer;
}

.rating > .half:before{
	content: '\f089';
	position: absolute;
	cursor: pointer;
}


.rating > label{
	color: #ddd;
	float: right;
	cursor: pointer;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label{
	color: #2ce679;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label{
	color: #2ddc76;
}
</style>
<div class="container" style="justify-content: center;">
    <div class="display-4 row" style="color:slategrey; font-size:40px;">
		{{result.Nom}}
	</div>
   	<div class="row">
   	    <div class="col-sm">
   	        <img class="rounded float-left" src="/uploads/images/{{result.img}}" style="width: 100%;">
   	    </div>   
		<div class="col-sm">  
   		<div class="row">     
   			<div class="col-sm" style="color:orangered">
					{{result.Type}}
			</div>
   				<!--Stars rating --->
			<div class="col-sm rating-wrap">
				<div class="center">
					<fieldset class="rating">
						<input type="radio" id="star5" name="rating" value="5"/><label for="star5" class="full" title="Awesome"></label>
						<input type="radio" id="star4.5" name="rating" value="4.5"/><label for="star4.5" class="half"></label>
						<input type="radio" id="star4" name="rating" value="4"/><label for="star4" class="full"></label>
						<input type="radio" id="star3.5" name="rating" value="3.5"/><label for="star3.5" class="half"></label>
						<input type="radio" id="star3" name="rating" value="3"/><label for="star3" class="full"></label>
						<input type="radio" id="star2.5" name="rating" value="2.5"/><label for="star2.5" class="half"></label>
						<input type="radio" id="star2" name="rating" value="2"/><label for="star2" class="full"></label>
						<input type="radio" id="star1.5" name="rating" value="1.5"/><label for="star1.5" class="half"></label>
						<input type="radio" id="star1" name="rating" value="1"/><label for="star1" class="full"></label>
						<input type="radio" id="star0.5" name="rating" value="0.5"/><label for="star0.5" class="half"></label>
					</fieldset>
				</div>
				<p style="font-size: 1rem"; id="rating-value"></p>
			</div>
		</div> 
   		<div class="row" style="color: crimson;">
				<svg xmlns="http://www.w3.org/2000/svg" width="21" height="25" fill="currentColor" class="bi bi-cash" viewBox="0 0 16 16" style="margin-right: 5px;">
				<path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
				<path d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z"/>
				</svg>
				{{result.Prix}} DH				
		</div>
   		<div class="row lead">
			   {{result.Description}}
		</div>
	</div></div>
</div>
<script> let star = document.querySelectorAll('input');
let showValue = document.querySelector('#rating-value');

for (let i = 0; i < star.length; i++) {
	star[i].addEventListener('click', function() {
		i = this.value;

		showValue.innerHTML = "<em>" + i + " sur 5</em>";
	});
}
</script>
<!-- -->
<!--Comments insertion-->
<!-- Style-->
<style>
	@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;400;600;800&display=swap');
	body {
	    background: whitesmoke;
	    -wekit-font-smoothing: antialiased;
	    font-family: 'Muli', sans-serif;
	}
	.comment__box {
	    list-style-type: none;
	    padding-left: 0;
	}
	.comment__box .comment h6 {
	    font-weight: 800;
	}
	p {
	    font-size: 16px;
	}
	.comment {
	    animation: fade-top-in .6s ease forwards;
	}
	
	@keyframes fade-top-in {
	    0% {
	        transform: translateY(-30px);
	        opacity: 0;
	    }
	    100%{
	        transform: translateY(0px);
	        opacity: 1;
	    }
	}
</style>
<!-- html-->
<div class="container">
    <div class="row mb-4">
        <div class="col-md-12">
            <h4 class="border-bottom pb-2">Commentaires</h4>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="">Laisser un commentaire</label>
				<input type="hidden" id="ObjectID" class="form-control" value="{{result._id}}"/>
                <textarea id="textarea" rows="3"class="form-control"></textarea>
            </div>
        </div>
        <div class="col-md-12">
            <button id="submitBtn" class="btn btn-primaryfloat-right">Post comment</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="typing text-success"></div>
            <ul class="comment__box">
                <!-- dynamic comment elements here -->
            </ul>
        </div>
    </div>
	{{#each comments_a}}
	<div class="card border-light mb-3">
                            <div class="card-body">
                                <h6>{{this.owner}}</h6>
                                <p>{{this.Text}}</p>
                                <div>
                                </div>
                            </div>
    </div>
	{{/each}}
<!-- script-->
	<script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.min.js"></script>
    <script src="/js/comments.js"></script>
		
<!-- insertion des commentaire -->

<div class="container row" style="margin: 6%;justify-content:space-between">
   {{#each result_2}}
    <div class="col-">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/uploads/images/{{this.img}}" alt="Card image cap" style="height: 200px;">
          <div class="card-body">
            <p class="card-text">{{this.Nom}}</p>
            <div class="row" >
                <div class="col-sm">
                    <p class="card-text">{{this.Ville}}</p>
                </div>
                <div class="col-sm">
                    <form action="/coloc/Annonce" method="POST">
                        <input type="hidden" name="ObjectID" value="{{this._id}}">
                        <button class="btn btn-info btn-sm" name="btn_annonce" value="{{this.Ville}}"><i class="fa fa-eye"></i></button>
                    </form>
                </div>
            </div>
          </div>
        </div>    
    </div>
    {{/each}}
</div
