<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<link rel="stylesheet" href="styles.css">
<title>L'COLOC</title>




<body>
  <section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="logo.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Demandes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Offres</a>
        </li>
       
      </ul>
      <div class="right">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#">
              <div style="text-decoration: none; 	color: rgb(161, 158, 153)!important;font-weight: 800;
              font-size: 14px;text-transform: uppercase;margin-right: 20px;"><%= user.name %></div>
                <img src="/uploads/pdps/<%= user.image %>" style=" width:45px;
                border-radius:50%; " width="40">
            </a>
          </li>
             
          <div class="dropdown">
            <i class="fas fa-angle-down text-body"  data-toggle="dropdown">
              <span class="caret"></span></i>
              <ul class="dropdown-menu">
              <li><a href="/profil" class="text-body fas fa-home"  >Profil</a></li>
              <li><a href="#" class="text-body fas fa-lock">Paramètres </a></li>
              <li><a href="#" class="text-body fas fa-sign-out-alt"> se deconnecter</a></li>
            
           </div>
              
        </ul>
      </div>
     </div>
    </div>
  </div>
 </div>
</nav>
</section>
  <div class="container bg-dark">
    <div class="match">
      <img src="couverture.jpg" alt="l'image de l'arriere plan" class="imgctl">
      <div class="centered"></div>
    </div>
    <div class="row">
      <div class="col-md-3 heigh ">
        <div class="bg-dark" style="height:500px;">
            <div style="padding:10px 0px 10px 80px;" class="bg-dark">
              <a href="/users/edit-pdp/<%= user.id %>">
                <img src="/uploads/pdps/<%= user.image%>" alt="photo de profil" class=" imag">
              </a>
            </div>
            <div class="list-group heigh2"style="width: 350px;" >
                <a href="/profil" class="list-group-item list-group-item-action bg-dark text-white fas fa-home"><span style="padding-left:19px;">Profil</span></a>
                <a href="/users/edit/<%= user.id %>" class="list-group-item list-group-item-action bg-dark text-white fas fa-user"><span style="padding-left:22px;">Modifier votre profil</span></a>
                <a href="#" class="list-group-item list-group-item-action bg-dark text-white fas fa-user-lock"><span style="padding-left:18px;">Changer le mot de passe</span></a>
                <a href="#" class="list-group-item list-group-item-action bg-dark text-white fas fa-lock"><span style="padding-left:22px;">Paramètres confidentialité</span></a>
                <a href="/mesoffres" class="list-group-item list-group-item-action bg-dark text-white fas fa-handshake"><span style="padding-left:18px;">Mes Offres</span></a>
                <a href="/offres/new" class="list-group-item list-group-item-action bg-dark text-white fas fa-plus-circle"><span style="padding-left:21px;">Ajouter une offre</span></a>
                <a href="#" class="list-group-item list-group-item-action bg-dark text-white fas fa-cogs"><span style="padding-left:20px;">Paramètres</span></a>
                
                
              </div> 
          </div>
      </div>
      <div class="col-md-8 padding-0" style="margin-left: 75px;" >
          <div class="card clr">
              <div class="card-body ">
                  <div class="row">
                      <div class="col-md-12">
                          <h4>Votre Profil</h4>
                          <hr>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <form>
                                
                                <div class="form-group row">
                                  <label for="name" class="col-4 col-form-label">Prenom :</label> 
                                  <div class="col-8">
                                    <input id="name" name="name" value="<%= user.name %>" readonly class="form-control-plaintext" type="text">
                                  </div>
                                </div>
                                
                                <div class="form-group row">
                                  <label for="email" class="col-4 col-form-label">Email :</label> 
                                  <div class="col-8">
                                    <input id="email" name="email" value="<%= user.email %>" readonly class="form-control-plaintext" required="required" type="text">
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="datenaissance" class="col-4 col-form-label">Date de naissance :</label> 
                                  <div class="col-8">
                                    <input id="datenaissance" name="datenaissance" value="<%= user.birthday.toLocaleDateString() %>" readonly class="form-control-plaintext" type="text">
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="telnum" class="col-4 col-form-label">Numero de telephone :</label> 
                                  <div class="col-8">
                                      <input id="telnum" name="telnum" value="<%= user.phone %>" readonly class="form-control-plaintext" type="text">
                                  </div>
                                </div>
                                
                              </form>
                      </div>
                  </div>
                  
              </div>
          </div>
      </div>
    </div>
  </div>
</body>